<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/lab4.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Notes</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #EE4E34;">
    <a class="navbar-brand" href="#">Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/lab-4/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/lab-4/add-note">Add Notes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/note-list">Note List</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">TO</th>
          <th scope="col">FROM</th>
          <th scope="col">TITLE</th>
          <th scope="col">MESSAGE</th>
        </tr>
      </thead>
      <!-- TODO loop from Friend model -->
      <body>
        {% if notes %}
          {% for note in notes %}
          <tr>
            <td>{{ note.to_text }}</td>
            <td>{{ note.from_text }}</td>
            <td>{{ note.title_text }}</td>
            <td>{{ note.message_text }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </body>
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>Fadli Rais</td>
        <td>Pesan Coba-coba</td>
        <td>Apa kabar?</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>Asmara Nugi</td>
        <td>Pesan Coba-coba</td>
        <td>Baik, sehat</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
