<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css\lab4_form.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Notes</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #EE4E34;">
    <a class="navbar-brand" href="#">Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/lab-4/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/lab-4/add-note">Add Notes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/note-list">Note List</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <form action=" " method="POST">
        <h1>Add Notes</h1>
        <hr>
          {% csrf_token %}
          <table align="center">
          {{form.as_table}}
          </table>
          <br>
          <div class="button">
            <input type="submit" value="Add Note" class="btn btn-dark" >
          </div>
    </form>
  </body>
</html>
