<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>TO</th>
        <th>FROM</th>
        <th>TITLE</th>
        <th>MESSAGE</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <body>
        {% if notes %}
          {% for note in notes %}
          <tr>
            <td>{{ note.to_text }}</td>
            <td>{{ note.from_text }}</td>
            <td>{{ note.title_text }}</td>
            <td>{{ note.message_text }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </body>
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>Fadli Rais</td>
        <td>Pesan Coba-coba</td>
        <td>Apa kabar?</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>Asmara Nugi</td>
        <td>Pesan Coba-coba</td>
        <td>Baik, sehat</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
