td{
    text-align: center !important; 
    color: #EE4E34 !important;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: "bold";
    }
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    color: #EE4E34;
    width:50rem;
    font-size: x-large;
    text-align: center;
    }
table.center {
    margin-left: auto; 
    margin-right: auto;
    }
body{
    background-image: url(https://www.colorhexa.com/fcedda.png);
    background-size: cover;
    }
a{
    color: #EE4E34;
    font-size: x-large;
    }
    /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #6f6f6f;
    } */
li a:hover {
    color: rgb(239, 9, 9);
    }
    /* li {
    border-right: 1px solid #bbb;
    } */
    /* .active {
    background-color: #1004f5;
    } */
    