#main {
    background­-color: #f0f0f0;
    color: green;
    font­-family: georgia;
    font­-size: 0.8em;
  }
  
h1 {
    color: #fca205;
    font-family: "Monospace";
    font-style: italic;
  }
  